# Configuration de la base de données
POSTGRES_USER=accessiart
POSTGRES_PASSWORD=motDePasseComplexe
POSTGRES_DB=accessiart_db

# URL de connexion PostgreSQL 
PG_URL=postgres://accessiart:motDePasse@db:5432/accessiart_db

# Environnement
NODE_ENV=production
PORT=3000
